# TheKadeshi # Start #

php_value auto_prepend_file "C:\Users\Bagdad\Documents\web\project\antivir/thekadeshi.php"

# 	{Prevent mime based attacks
Header set X-Content-Type-Options "nosniff"

# 	Turn on IE8-IE9 XSS prevention tools
Header set X-XSS-Protection "1; mode=block"

# 	Remove server signature
ServerSignature Off

# 	Change 403 document
ErrorDocument 403 /thekadeshi.php?block

# 	Block xmlrpc
<Files xmlrpc.php>
	Order Allow,Deny
	deny from all
</Files>

# 	Blocked .htaccess file
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# TheKadeshi # End #
clude Off
php_value display_errors 1

php_value auto_prepend_file "/home/b/bagdad/thekadeshi/public_html/thekadeshi.php"
